<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" />
          <bindingRedirect oldVersion="2012.2.607.35" newVersion="2015.3.930.45" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
</configuration>